{% extends "PhotoUpload/base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500 to-purple-600 px-4 sm:px-6 lg:px-8">
    <div class="max-w-lg w-full bg-white rounded-lg shadow-lg p-8 space-y-8">
        <div class="text-center">
            <h1 class="text-4xl font-extrabold text-gray-900 mb-4">Welcome to PhotoFrame and Wishing Card Generator</h1>
            <p class="text-lg text-gray-600 mb-6">Create stunning photo frames and personalized wishing cards in just a few clicks!</p>
            <div class="grid gap-4">
                <a href="{% url 'photoupload' %}" class="w-full bg-gradient-to-r from-blue-400 to-blue-600 text-white text-lg py-3 px-4 rounded-lg shadow-md hover:from-blue-500 hover:to-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transform hover:scale-105 transition-transform duration-200">Create Photo Frame</a>
                <a href="{% url 'wishingcard' %}" class="w-full bg-gradient-to-r from-green-400 to-green-600 text-white text-lg py-3 px-4 rounded-lg shadow-md hover:from-green-500 hover:to-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 transform hover:scale-105 transition-transform duration-200">Create Wishing Card</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
